<div class="my-body">

  <mat-card [class.my-card-mobile]="isMobile" class="my-card">

    <mat-card-header>

      <mat-card-title>Sign In</mat-card-title>
      <mat-card-subtitle>{{ title }}</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content style="margin-top: 40px">

      <mat-form-field appearance="outline" class="login">

        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" matInput placeholder="Placeholder">
        <mat-icon matSuffix>person</mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline" class="login">

        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" [type]="hide ? 'password' : 'text'" matInput>

        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

      </mat-form-field>

      <mat-radio-group [(ngModel)]="role" aria-label="Select an option" class="my-radio-group">

        <mat-radio-button checked [value]=Role.tr>{{ Role.tr | titlecase }}</mat-radio-button>
        <mat-radio-button [value]=Role.st>{{ Role.st | titlecase }}</mat-radio-button>

      </mat-radio-group>

    </mat-card-content>

    <mat-card-actions>

      <button (click)="signIn()" class="my-button login" color="primary" mat-raised-button>
        <mat-icon>login</mat-icon>
        Sign In
      </button>

    </mat-card-actions>

  </mat-card>

</div>

