<div>
  <app-title-page [title]="title"></app-title-page>

  <div [class.container-mobile]="isMobile" cdkDropListGroup class="container">

    <div class="example-container">

      <cdk-virtual-scroll-viewport #scrollerToBeConfirmed [class.example-viewport-mobile]="isMobile" appendOnly
                                   class="example-viewport" itemSize="50">
        <h2>To Confirm</h2>
        <div
          [cdkDropListData]="assignmentService.notConfirmedAssignments.value"
          cdkDropList
          class="example-list">
          <!--        (cdkDropListDropped)="drop($event)">-->
          @for (assignment of assignmentService.notConfirmedAssignments.value; track assignment) {
          <div class="example-box" cdkDrag>
            <app-item-assignment [assignment]="assignment"></app-item-assignment>
          </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="example-container">

      <cdk-virtual-scroll-viewport #scrollerConfirmed [class.example-viewport-mobile]="isMobile" appendOnly
                                   class="example-viewport" itemSize="50">
        <h2>Confirmed</h2>

        <div
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="assignmentService.confirmedAssignments.value"
          cdkDropList
          class="example-list">
          @for (assignment of assignmentService.confirmedAssignments.value; track assignment) {
          <div class="example-box" cdkDrag>
            <app-item-assignment [assignment]="assignment"></app-item-assignment>
          </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

</div>
