<!--
<div>
  <app-title-page [title]="title"></app-title-page>

  <div [class.container-mobile]="isMobile" cdkDropListGroup class="container">

    <div class="example-container">

      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport" #scrollerToBeConfirmed>
        <h2>To Confirm</h2>
        <div
          [cdkDropListData]="assignmentsToBeConfirmed.items"
          cdkDropList
          class="example-list">
          &lt;!&ndash;        (cdkDropListDropped)="drop($event)">&ndash;&gt;
          @for (assignment of assignmentsToBeConfirmed.items; track assignment) {
            <div class="example-box" cdkDrag>
              <app-item-assignment [assignment]="assignment"></app-item-assignment>
            </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="example-container">

      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport" #scrollerConfirmed>
        <h2>Confirmed</h2>

        <div
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="assignmentsConfirmed.items"
          cdkDropList
          class="example-list">
          @for (assignment of assignmentsConfirmed.items; track assignment) {
            <div class="example-box" cdkDrag>
              <app-item-assignment [assignment]="assignment"></app-item-assignment>
            </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

</div>
-->
