<div>
  <app-title-page [title]="title"></app-title-page>
  <mat-card>
    <form [formGroup]="firstFormGroup" class="form">
      <ng-template matStepLabel>Step 1</ng-template>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Title" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Subject</mat-label>
        <mat-select formControlName="subject">
          <mat-option></mat-option>
          @for (subject of subjectList; track subject._id) {
            <mat-option [value]="subject">{{ subject.title }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <button
          (click)="onSubmit()"
          [disabled]="!firstFormGroup.valid"

          color="primary"
          mat-stroked-button
        >
          Add an assignment
        </button>
      </div>
    </form>
  </mat-card>
</div>
