mat-expansion-panel {
  max-width: 100%;
}


.example-card {
  max-width: 100%;
  margin-bottom: 8px;
}

.card-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
}

.sm-image {
  width: 100%;
}
