<div>
  <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                       class="example-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Shiba Inu
      </mat-panel-title>
      <mat-panel-description>
        Large
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="card-content-mobile">
      <p>{{ longText }}</p>
      <img class="sm-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>

  </mat-expansion-panel>

</div>

