<div>
  <app-title-page [title]="title"></app-title-page>

  <div class="back-button">
    <button mat-flat-button routerLink="/assignment/{{assignmentService.assignment.value?._id}}/detail">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Details
    </button>
  </div>

  @if (firstFormGroup && secondFormGroup) {
    <mat-stepper #stepper [linear]="true" [orientation]="isMobile ? 'vertical' : 'horizontal' ">

      <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup" class="form">

          <ng-template matStepLabel>Step 1</ng-template>

          <mat-form-field>
            <mat-label>Student</mat-label>
            <input formControlName="student" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Date of sending</mat-label>
            <input
              [matDatepicker]="picker"
              formControlName="dateSending"
              matInput
              name="date"
              required
            />
            <mat-hint>dd/MM/YYYY</mat-hint>
            <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" class="form">
          <ng-template matStepLabel>Step 2</ng-template>
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <input formControlName="subject" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Score</mat-label>
            <input formControlName="score" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Leave a remark</mat-label>
            <textarea formControlName="remark" matInput></textarea>
          </mat-form-field>

          <mat-checkbox formControlName="confirm">Confirm the assignment</mat-checkbox>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>

        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button
            [disabled]="this.assignmentService.assignment.value?.confirm"
            color="primary"

            mat-stroked-button

            (click)="onSubmit()"
          >
            Update
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  }
</div>
