<div [class.example-is-mobile]="isMobile" class="example-container">
  <mat-toolbar class="example-toolbar" color="primary">
    <button (click)="snav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{ title }}</h1>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="isMobile ? 56 : 0"
                         class="example-sidenav-container">
    <mat-sidenav #snav [class.my-sidenav-mobile]="isMobile" [fixedInViewport]="isMobile"
                 [mode]="'over'"
                 class="my-sidenav" fixedTopGap="56">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="my-sidenav-content">
      <div class="content">
        <!--        <router-outlet [isMobile]="isMobile" ></router-outlet>-->
        <div id="huhu"></div>
        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
