.example-card {
  max-width: max-content;
  margin-bottom: 8px;
  padding: 2% 7% 0;
}

.card-content {
  max-width: max-content;
  display: flex;
  gap: 10%;
  align-items: center;
}

.card-content-mobile {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
}
