<mat-card class="example-card">

  <mat-card-content>
    <div [class.card-content-mobile]="isMobile" class="card-content">
      <img mat-card-lg-image [src]="assignment.subject.image">

      <div>
        <mat-card-title-group>
          <mat-card-title>
            @if (assignment.confirm) {
              <mat-icon>assignment</mat-icon>
            } @else {
              <mat-icon>assignment_turned_in</mat-icon>
            }
            {{ assignment.title }}
          </mat-card-title>
          <mat-card-subtitle>{{assignment.subject.title}} | {{ assignment.dateSending | date }}</mat-card-subtitle>
        </mat-card-title-group>
        <div>
          <br>
          From :  {{ assignment.student.name }}
          <br>
          <i>&commat;{{ assignment.student.name }}</i>

        </div>

      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button routerLink='/assignment/{{assignment._id}}/detail' color="primary" mat-stroked-button>
      <mat-icon>info</mat-icon>
      More
    </button>
  </mat-card-actions>
</mat-card>
