<mat-dialog-content>
  <p>What's score for this assignment?</p>
  <mat-form-field>
    <mat-label>Score</mat-label>
    <input type="number" [(ngModel)]="data.score" matInput min="0" max="20">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Leave a remark</mat-label>
    <textarea [(ngModel)]="data.remark" matInput></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Ok</button>
</mat-dialog-actions>
